  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,400&display=swap');

  /* Variables */
  :root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #4756df;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}
/* Variables end */


  html {
    scroll-behavior: smooth;
  }

  /* CSS Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: var(--primary-color);
  }

  a:hover {
    color: var(--secondary-color);
  }

  body {
    font-family: var(--font-family);
  }

  nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    /* border: 5px solid red; */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  nav h1 {
    color: var(--primary-color);
  }

  nav a {
    color: var(--primary-color);
    transition: var(--transition);
  }

  nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
  }

  nav ul {
    display: flex;
    gap: 1.9rem;
  }

  nav ul li {
    font-weight: var(--bold-font);
  }

  .burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }

  /* Hero section */
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    /* border: 5px solid red; */
    max-width: 68.75rem;
    margin: auto;
  }

  .hero img {
    height: 17.5rem;
    width: 17.5rem;
    border-radius: 10px;
    margin-right: 10rem;
  }

  .bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  }

  .bio h1 {
    margin-bottom: var(--bottom-margin);
    color: red;
  }

  .bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
  }

  /* More About Me */
  .more-about {
    background-color: var(--bg-color);
    padding: 1rem 6rem;
  }

  .more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
  }

  .more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
  }

  /* Skills */
  .skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }

  .skill-header {
    margin-bottom: 1rem;
  }

  .skills-wrapper img {
    padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.875rem;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

/* Projects */
.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin: 2rem 10rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-items: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

/* Contact */
.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

/* input {
  width: 100%;
  padding: 10px ;
} */

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field, input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder, input::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
  color: #fff;
}

/* Social Icons */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 35%;
  
}

.socicon {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
}

/* Footer Section */
footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}

/* Scroll Up Arrow */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}

/* Tablet and mobile */
@media screen and (max-width: 720px) {
  /* Changes reflects on screen with a width of 720px and below*/
  nav {
    padding: 1.5rem 1rem;
  }

  /* how to make hamburger menu */
  nav ul {
    position: fixed;
    background-color: #000;
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }
  
  nav ul li {
   
    margin: 8px;
  }  

  ul li a {
   color: #fff;
  }

  

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  /* Hero section */
  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    height: 37.5rem;
    width: 30rem;
  }

  .bio {
    margin-top: -7rem;
    width: 20.5rem;
  }

  /* More About Me */
  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }
  
  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  /* Skills */
  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  /* Projects */
  .projects-container {
   flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  /* Contact Form */
  .contact-form-container {
    max-width: 23.75rem;
  }
}

/* Smaller Phones */
@media screen and (max-width: 420px) {
  .hero img {
    height: 17.5rem;
    width: 13rem;
    margin: 5rem;
     border: 5px solid grey;
    
  }

  .bio {
    width: 16.3rem;
   
    margin-top: -3rem; 
  }

  .project-container {
    width: 17.875rem;
  }

  .projects-title {
    font-size: -2rem;
     border: 5px solid grey;
     color: red;

  }

  .contact-form-container {
    max-width: 17.75rem
  }
}